/* CSS Document */
body{padding:0px; margin:0px;
font-family: serif;}

#root {
text-align: -webkit-left;
margin-inline: 7em;
font-family: Raleway;
}

#intro{text-align: center}

figure {
  margin: 2rem 0;
  position: relative;
  display: inline-block;
}
figure img {width: 120px}