/* CSS Document */
body{padding:0px; margin:0px; font:16px/24px font-variant: super;
font-family: Merriweather;}
div, p, ul, h2, h3, form, label, select, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

/*----TOP PANEL----*/
#topPan{width:749px; position:relative; margin:0 auto;}

/*----Top Header Panel----*/
#topPan p.captiontext{width:122px; background:#FCE5AF; color:#8D6C1B; font-size:12px; font-weight:bold; position:absolute; top:13px; left:238px;}
#topPan p.contact{width:60px; background:#FCE5AF; color:#5D460C; font-size:14px; font-weight:bold; position:absolute; top:13px; left:441px; text-transform:uppercase;}

#topPan p.tollfree{width:60px; height:15px; background:#9C0174; color:#fff; font:10px/15px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; position:absolute; top:26px; left:441px; text-transform:uppercase;}

#topPan p.phoneno{width:178px; height:28px; background:#fff; color:#8D6C1B; font:18px/28px Verdana, Arial, Helvetica, sans-serif; font-weight:bold; position:absolute; top:13px; right:62px; text-transform:uppercase;}

/*----/Top Header Panel----*/

/*----Top Body Panel----*/
/*----Top Body Left----*/
#topbodyleftPan{width:139px; float:left; padding:14px 20px 0 0;}
#topbodyleftPan ul{width:115px; height:125px; background:#fff; color:#7C5904; border:1px solid #F2EAD5; padding:17px 0 0 22px;}
#topbodyleftPan ul li{width:94px; height:18px; border-bottom:1px dashed #DCD0B3;}
#topbodyleftPan ul li a{width:100px; height:18px; display:block; background:#fff; color:#7C5904; font:10px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; text-transform:uppercase; padding:0 0 0 7px;}

#topbodyleftPan ul li a:hover{background:#AC0481; color:#fff; text-decoration:none;}

#topbodyleftPan ul li.home{width:87px; height:18px; display:block; background:#AC0481; color:#fff; font:10px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; text-transform:uppercase; padding:0 0 0 7px;}

#topbodyleftPan ul li.contact{border:none;}

/*----Top Body Left----*/
/*----Top Body Right----*/
#topbodyrightPan{width:310px; float:left; background:url(images/photo.jpg) 370px 21px no-repeat #FFFAEE; color:#8D6C1B; padding:18px 280px 0 0;text-align: justify;}
#topbodyrightPan p{padding:10px 15px;}
#topbodyrightPan p span{font-weight:bold;}
#topbodyrightPan p.more{width:40px; height:13px; margin:0 0 0 222px;}
#topbodyrightPan p.more a{width:40px; height:13px; display:block; background:#AC0481; color:#fff; font-size:11px; font-weight:bold; text-align:center; line-height:12px; text-decoration:none;}

#topbodyrightPan p.more a:hover{background:#BE8A0A; color:#fff; text-decoration:none;}
/*----Top Header Panel----*/
/*----/TOP PANEL----*/
/*----BODY PANEL----*/
#bodyMainPan{background:#fff; color:black; position:relative; margin:0 auto; clear:both; padding:25px 0 0; text-align: justify;}
/*----Body Panel----*/
#bodyPan{width:749px; position:relative; margin:0 auto;}
/*--------Body Left Panel----------*/
#bodyleftPan{float:left; padding:23px 4px 20px 3px;}

#bodyleftPan p.more{font-weight:bold; font-size:11px; margin:12px 0 0;}
#bodyleftPan p.more a{width:40px; height:13px; display:block; background:#BE8A0A; color:#fff; text-decoration:none; text-align:center; line-height:12px; margin:0 0 0 393px;}
#bodyleftPan p.more a:hover{background:#7F035F; color:#fff; text-decoration:none;}
#bodyleftPan li span{color:blue;font-weight:bold}

/*--------/Body Left Panel----------*/
/*--------Body Right Panel----------*/
#bodyrightPan{width:264px; float:left;}
#bodyrightPan form{width:264px; height:162px; background:#FFF0CC; color:#000; font:11px/14px Verdana, Arial, Helvetica, sans-serif;}
#bodyrightPan form h2{width:253px; height:25px; background:#8D6C1B; color:#fff; font:20px/25px Georgia, "Times New Roman", Times, serif; font-weight:bold; padding:0 0 0 11px; margin:0 0 6px 0;}

#formPan{width:238px; height:21px; display:block; padding:9px 15px 0 11px;}
#formPantwo{width:238px; height:21px;display:block; padding:9px 15px 0 11px;}
#formPanthree{width:238px; height:21px;display:block; padding:9px 15px 0 11px;}
form label{width:82px; height:21px; display:block; float:left; background:#FFFAEE; color:#000; text-align:center; line-height:21px; margin:0 16px 0 0;}
form select{width:133px; height:18px; display:block; float:left; line-height:21px; font-size:12px;}
form input{width:55px; height:15px; background:#8D6C1B; color:#fff; font-weight:bold; border:none; font-size:11px; margin:10px 0 0 185px; padding:0px;}

#bodyrightPan ul{width:240px;}
#bodyrightPan ul li{width:240px; height:20px;}
#bodyrightPan ul li a{width:224px; height:20px; background:url(images/bullet-normal.gif) 0 6px no-repeat #fff; color:#4D4D4D; line-height:20px; text-decoration:underline; padding:0 0 0 16px;}
#bodyrightPan ul li a:hover{background:url(images/bullet-hover.gif) 0 6px no-repeat #fff; color:#111; text-decoration:underline;}

/*--------Publication----------*/
#publication{float:left; padding:23px 4px 20px 3px;}
#publication li span{color:purple;font-family: 'DM Sans', sans-serif}