/* CSS Document */
body {
    padding: 0px;
    margin: 0px;
    font-family: serif;
}

#root {
    text-align: -webkit-left;
    margin-inline: 10em;
    font-family: Raleway;
}

#intro {
    text-align: Left;
    font-family: Optima
}

#photo {
    width: 100px
}

#pub {
    margin-left: 0;
    margin-right: 0;
}

#exp {
    width: 100px;
}

figure img {
    width: 200px;
}